[Unit]
Description=Check the AD privileged groups every 15 minutes

[Timer]
OnCalendar=*:0/15
RandomizedDelaySec=60

[Install]
WantedBy=timers.target
