[Unit]
Description=Sentinel SOC Zeek notice.log forwarder
After=soc-zeek-boot.service
Requires=soc-zeek-boot.service

[Service]
Type=simple
User=adelcueto
WorkingDirectory=/opt/sentinel-soc/kali
ExecStart=/usr/bin/python3 /opt/sentinel-soc/kali/zeek_to_alerts.py --follow
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
